<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src='https://www.google.com/recaptcha/api.js'>

	</script>
	<link rel="stylesheet" href="/static/style.css">
	<title>Replpedia</title>
  <link rel="icon" 
      type="image/png" 
      href="/static/replpedia.png">
</head>

<body>
	<div id="search-bar">
		<form action="/search">
			<input type="search" id="search" name="search" placeholder="search" autocomplete="off" autofocus>
      </form>
    </div><br>
    <div id="content">
      <form action="/create" method="POST" style="padding: 20px 20px;">
        <input type="text" id="name" name="name" placeholder="Name" style="width: 250px; padding: 10px 10px;" required><br/><br/>
        <textarea name="content" placeholder="Content" style="padding: 10px 10px; width: 250px; height: 200px;" id="content" required></textarea><br/>

        <div style="margin: auto;" class="g-recaptcha" data-sitekey="6LeKjMkZAAAAABPEnv28gvvZ_7hIOgqZiuDoHEQV"></div>

        <p><a href="https://repl.it/talk/learn/A-Quick-Guide-to-Replit-Talk-Markdown/7448">Markdown supported</a></p>
        <input type="hidden" name="author" value="{{ username }}">
        <input type="submit">
      </form>
    </div>

    <script>

      window.onbeforeunload = ()=>{
        return "Are you sure you want to leave the page?"
      }
    </script>
  </body>
  <footer>
    © 2020 PDanielY
  </footer>
</html>