<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Replpedia</title>
  </head>
  <body>
    <div id="search-bar">
      <form action="/search">
        <input type="search" id="search" name="search" placeholder="search" autocomplete="off" autofocus>
      </form>
    </div><br>
    <div id="content">
      <p>To prevent spammers please login with repl.it</p>
      <script contentEditable="" authed="location.href = 'https://replpedia.jdaniels.me/{{ url }}'" src="https://auth.masfrost.repl.co/script.js"></script>
      <p>Please remember that only https is allowed to login with repl.it</p>
    </div>
  </body>
  <footer>
    © 2020 PDanielY
  </footer>
</html>