<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Replpedia</title>
    <link rel="icon" 
      type="image/png" 
      href="/static/replpedia.png">
  </head>
  <body>
    <div id="search-bar">
      <form action="/search">
        <input type="search" id="search" name="search" placeholder="search" autocomplete="off" autofocus>
      </form>
    </div><br>
    <div id="content">
      <h1>Internal Server Error</h1>
      <p>There was a problem while processing your request. Please try again and it this keeps happening <a href="mailto:2026oyeenid@share.wilsonsd.org">contact me</a></p>
  </body>
  <footer>
    © 2020 PDanielY
  </footer>
</html>